.react-calendar {
  font-family: Arial, sans-serif;
  width: 350px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: none;
}

.react-calendar__tile {
  font-size: 12px;
  color: #333;
  cursor: pointer;
}

.react-calendar__tile--active {
  background-color: #007bff;
  color: #fff;
}

