@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400;9..40,500;9..40,700&family=Montserrat:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;

}


.sidebar {
  background-color: rgb(250, 251, 251);
  color: rgb(0, 0, 0);
  background-image: none;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 0 auto;
  z-index: 1200;
  position: fixed;
  top: 0px;
  outline: 0px;
  left: 0px;
  transition: width 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 265px;
  box-sizing: border-box;
  border: 0px;
  box-shadow: rgba(113, 122, 131, 0.11) 0px 7px 30px 0px;
}

.sidebar.active {
  width: 60px;
}

.sidebar .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 16px;
}


.small-image {
  width: 90%;
  height: 90%;

}


.sidebar .nav-links {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.sidebar .nav-links li {
  margin: 0px;
  padding: 10px 10px 10px;
  position: relative;
  list-style: none;
}

.sidebar .nav-links li a {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  padding: 8px 16px;
  border-radius: 10px 20px 9px;
}

.active-link {
  background: #0B88B3;
  color: #FFFFFF;
}

.sidebar .nav-links li a:hover {
  background: #bfe1ec;
  color: #0B88B3;
  border-radius: 10px 20px 9px;
  padding: 8px 16px;
}


.sidebar .nav-links .log_out {
  position: absolute;
  bottom: 0;
  width: 100%;
}


.home-section {
  position: relative;
  background: #F9FAFA;
  min-height: 100vh;
  width: calc(100% - 270px);
  left: 270px;
  transition: all 0.5s ease;

}

.sidebar.active~.home-section {
  width: calc(100% - 60px);
  left: 60px;
}


.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 270px;
  z-index: 100;
  padding: 0 20px;
  background: rgb(250, 251, 251);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
  left: 60px;
  width: calc(100% - 50px);
}

nav .sidebar-button,
.icon {
  font-size: 35px;
  margin-right: 10px;
}

.icon {
  color: #000000;
  min-width: 60px;
  padding: 3px 0px;
}

.home-section nav .search-box {
  position: relative;
  height: 50px;
  max-width: 500px;
  width: 100%;
  margin: 0 20px;
}

nav .search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  padding: 0 15px;
}

nav .search-box .bx-search {
  position: absolute;
  height: 25px;
  width: 25px;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #B3B3B3;
  transition: all 0.4 ease;
}

.home-section nav .profile-details {
  display: flex;
  align-items: center;
  height: 50px;
  min-width: 90px;
  padding: 0 20px 0 2px;
}

nav .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  object-fit: cover;
}

nav .profile-details .admin_name {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  margin: 0 5px;
  white-space: nowrap;
}

nav .profile-details {
  font-size: 25px;
  color: #333;
}

.home-section .home-content {
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  padding-top: 120px;
  flex-direction: column;
  z-index: 1;
  background-color: transparent;
  flex-wrap: wrap;
}

.home-content .uicon.four {
  color: #e05260;
  background: #f7d4d7;
}


.nav-dropdown-title {
  color: #000000;
}


/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active~.home-section {
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }

  .home-section nav {
    width: calc(100% - 60px);
    left: 60px;
  }

  .logo-image{
    width: 50px;
      height: 50px;
  }

  .sidebar.active~.home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}

@media (max-width: 1150px) {
  .home-content {
    flex-direction: column;
  }

  .home-content {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }

  .home-content {
    margin: 0;
  }
}


@media (max-width: 700px) {

  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i {
    display: none;
  }

  .home-section nav .profile-details {
    height: 50px;
    min-width: 40px;
  }

  .home-content .sdetails {
    width: 560px;
  }
}

@media (max-width: 550px) {
  .sidebar.active~.home-section nav .profile-details {
    display: none;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 0;
  }

  .sidebar.active {
    width: 60px;
  }

  .home-section {
    width: 100%;
    left: 0;
  }

  .sidebar.active~.home-section {
    left: 60px;
    width: calc(100% - 60px);
  }

  .home-section nav {
    width: 100%;
    left: 0;
  }

  .sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
  }
}