.hm-container {
  display: flex;
  background-color: #f4f4f4
}

.home-container {
  padding: 30px;
}

.home-header {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Styles for the data summary section */
.data-summary {
  background-color: #ffff;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.data-summary h4 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.data-summary ul {
  list-style: none;
  padding: 0;
}

.data-summary li {
  margin-bottom: 5px;
}


.card .icon {
  font-size: 5px;
  color: lightseagreen;
}

.card-text {
  color: gray;
}

.card {
  transition: all 0.5s;
}

.card:hover {
  background-color: #E97463;
  color: #fff;
}

.card:hover .icon,
.card:hover .card-text {
  color: #fff;
}

.home{
  padding-top: 120px;
}

