
.card-container{
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.form-label {
  margin-bottom: 0.5rem;
  color: #212b36;
}

p{
  color: rgb(99, 115, 129);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.logo {
  font-size: 32px;
  font-weight: 500;
  color: #339264;
  text-decoration: none;
  white-space: nowrap;
  
}

.quest {
  color: #E97464;
}

.yellow{
  color: #FFCD6E;
}

.note{
  display: flex;
  justify-content: center;
  color: rgb(99, 115, 129);
}

a{
  text-decoration: none;
  color: #339264;
}