* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #8fc8db;
  padding-left: 10px;
  border-color: #e97464;
  border-radius: 20px;
  text-align: center;
}

.nav-link {
  color: #0b88b3;
  width: 130px;
  padding-top: 0;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  text-decoration: none;
}

.nav-link:hover {
  color: #066b94;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 2px;
  background-color: #ffce6d;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.heading {
  font-weight: 700;
  font-size: 30px;
  color: #066b94;
  text-transform: capitalize;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .hero {
    padding: calc(4rem - 30px) 0 4rem 0;
  }
}

@media (min-width: 992px) {
  .hero {
    padding: calc(8rem - 30px) 0 8rem 0;
  }
}

.hero .intro-excerpt {
  position: relative;
  z-index: 4;
}

@media (min-width: 992px) {
  .hero .intro-excerpt {
    max-width: 450px;
  }
}

.hero h1 {
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}

@media (min-width: 1400px) {
  .hero h1 {
    font-size: 54px;
  }
}

.hero p {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
}

.hero .hero-img-wrap {
  position: relative;
}

.hero .hero-img-wrap img {
  position: relative;
  top: 0px;
  right: 0px;
  z-index: 2;
  max-width: 780px;
  left: -20px;
}

@media (min-width: 768px) {
  .hero .hero-img-wrap img {
    right: 0px;
    left: -100px;
  }
}

@media (min-width: 992px) {
  .hero .hero-img-wrap img {
    left: 0px;
    top: -80px;
    position: absolute;
    right: -50px;
  }
}

@media (min-width: 1200px) {
  .hero .hero-img-wrap img {
    left: 0px;
    top: -80px;
    right: -100px;
  }
}

.hero .hero-img-wrap:after {
  content: "";
  position: absolute;
  width: 255px;
  height: 217px;
  background-image: url("../images/colleagues.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  right: -100px;
  top: -0px;
}

@media (min-width: 1200px) {
  .hero .hero-img-wrap:after {
    top: -40px;
  }
}

/* Hero Section */
.hero-section {
  background-color: #ffffff;
  padding: 80px 0;
}

.hero-section h1 {
  font-size: 32px;
  font-weight: bold;
  color: #323232;
  margin-bottom: 20px;
}

.paragraph {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}

.subheading {
  color: #e97464;
  font-weight: 600;
  font-size: 30px;
}

/* Section 2 */
.section-2 {
  background-color: #fff;
  padding: 80px 0;
}

.section-2 h1 {
  font-size: 30px;
  font-weight: 400;
  color: #323232;
  margin-bottom: 20px;
}

.section-2 p {
  color: #323232;
}

.card-body {
  border: none !important;
}

.card-text {
  font-weight: 400;
  font-size: 15px;
}


.card-title {
  font-weight: 500;
  font-size: 25px;
  text-transform: capitalize;
}

.card-1 {
  background-color: #5cb5d8;
  color: #ffffff;
  box-shadow: rgba(36, 144, 187, 0.448) 0px 7px 29px 0px;
}

.card-2 {
  background-color: #ee8779;
  color: #fff;
  box-shadow: rgba(234, 195, 164, 0.43) 0px 7px 29px 0px;
}

.card-3 {
  background-color: #8abbaa;
  color: #fff;
  box-shadow: rgba(238, 213, 193, 0.43) 0px 7px 29px 0px;
}



.icon-circle-1 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #8fc8db;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
}

.icon-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ffd889;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
}

.icon-circle-3 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #b9dfd1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
}

/* Section 3 */
.section-3 {
  background-color: #fff;
  padding: 80px 0;
}

.section-3 h2 {
  font-size: 32px;
  font-weight: bold;
  color: #323232;
  margin-bottom: 20px;
}

.section-3 p {
  color: #323232;
}

/* Footer */
footer {
  background-color: #0b88b3;
  text-align: center;
  padding: 20px;
  align-items: center;
}

.social-icons {
  margin-top: 10px;
  align-items: center;
  padding-left: 525px;
}

.social-icons a {
  margin-right: 20px;
  align-items: center;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0b88b3;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 9px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: #066b94;
  color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateY(-2px);
}

.btn-primary {
  display: inline-block;
  padding: 10px 20px;
  color: #ffff;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #0b88b3;
  border-radius: 9px;
  transition: 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #e97464;
}

.btn-outline-primary {
  background-color: transparent;
  border: 1px solid #0b88b3;
  color: #0b88b3;
  padding: 10px 20px;
  border-radius: 9px;
}

.btn-outline-primary:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.authors {
  width: 100%;
  height: 300px;
  overflow-x: hidden;
  white-space: nowrap;
}

.slide {
  display: inline-block;
  width: 25%;
  animation: defilement 8s linear infinite;
}

.slide img {
  width: 100%;
  height: auto;
}

@keyframes defilement {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

p {
  color: black;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease-in-out; /* Transition */
}

.card:hover {
  transform: translateX(20px);
}

.heading {
  transition: transform 0.3s ease-in-out; /* Transition */
}

.heading:hover {
  transform: translateY(-10px);
}

.image-gallery {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.image-card {
  position: relative;
  width: 30%;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.image-card:hover {
  transform: scale(1.1);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  align-items: center;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.image-card:hover .image-overlay {
  opacity: 1;
}

.image-overlay p {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.fon{
  font-size: 40px;
}
