.site-mobile-menu {
  position: fixed; 
}


a{
  color: #E97464;
}

.nav-link{
  color: #E97464;
}

/* Hero Section */
.hero-section {
  background-color: #FFFFFF;
  padding: 80px 0;
}

.hero-section h1 {
  font-size: 32px;
  font-weight: bold;
  color: #323232;
  margin-bottom: 20px;
}

.hero-section p {
  color: #323232;
}

.subheading{
  color: #E97464;
}

/* Section 2 */
.section-2 {
  background-color: #fff;
  padding: 80px 0;
}

.section-2 h1 {
  font-size: 32px;
  font-weight: bold;
  color: #323232;
  margin-bottom: 20px;
}

.section-2 p {
  color: #323232;
}

/* Section 3 */
.section-3 {
  background-color: #fff;
  padding: 80px 0;
}

.section-3 h2 {
  font-size: 32px;
  font-weight: bold;
  color: #323232;
  margin-bottom: 20px;
}

.section-3 p {
  color: #323232;
}


/* Footer */
footer {
  background-color: #8FC8DB;
  text-align: center;
  padding: 20px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin-right: 20px;
}



/* Buttons */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8FC8DB;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn-primary {
  background-color: #8FC8DB;
}

.btn-primary:hover {
  background-color: #8FC8DB;
}

.btn-outline-primary {
  background-color: transparent;
  border: 2px solid #8FC8DB;
  color: #8FC8DB;
}

.btn-outline-primary:hover {
  background-color: #8FC8DB;
  color: #fff;
}