@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.exam-subject-span{
    padding: 5px;
    border-radius: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.sp-1{
    background-color: #0b88b3;
 }
 .sp-2{
    background-color: #E97463;
 }
 .sp-3{
    background-color: #FFCD6E;
 }