@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400;9..40,500;9..40,700&family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root {
  --main-color: #0B88B3;
  --secondary-color: #E97464;
  --button-padding: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.custom-heading {
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
  font-style: normal;
}

.custom-font {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
}

.logo {
  color: #0B88B3;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  line-height: 24px;
}

.quest {
  color: #E97464;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  line-height: 24px;
}
