@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
  --main-color: #86c0d4;
  --secondary-color: #E97464;
  --button-padding: 15px;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.logo{
  color: #86c0d4;
  font-weight: 700;
  font-size: 30px;
}

span{
  color: #E97464;
  font-weight: 600;
  font-size: 30px;
}


.button {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #86c0d4;
  cursor: pointer;
  display: flex;
  margin: 0 auto;
  padding: var(--button-padding);
  font-size: 17px;
}

.button:hover {
  background: #E97464;
  color: #fff;
}
